<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.photoeditingapp_main">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="._Classes._GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoEditingAppmain">
        <activity
            android:name=".Activity_Mainpage.UploadActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Login.SplashScreenActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="._Classes.CameraActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Activity_Design.DesignActivity"
            android:exported="false"
            android:persistableMode="persistAcrossReboots" />
        <activity
            android:name=".Activity_Mainpage.MainpageActivity"
            android:exported="false" />
        <activity
            android:name=".Activity_Login.LoginActivity"
            android:exported="false"
            android:noHistory="true" />
    </application>

</manifest>